html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #4f4f50;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: #010101;
}

.site {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

header {
  min-height: 70vh;
  flex: 1 0 auto;
  position: relative;
}

.header-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headerContainer {
  display: flex;
  align-items: center;
  height: 100%;
}
.headerContainerTitle {
  background: rgba(0,0,0,0.35);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 4.2vw;
  height: 100%;
  padding: 60px;
}
.headerContainerTitle h1 {
  color: #fff;
  margin: 0;
}

.headerContainerTitleWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price {
  position: relative;
  padding: 5px 10px;
}
.price-blocker {
  background-color: #4f4f50;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.price input {
  position: absolute;
  visibility: hidden;
  left: -100vw;
}

.price input:checked + .price-blocker {
  display: none;
}
.price-tag {
  display: block;
  font-style: italic;
  font-size: 0.8em;
  position: relative;
}

.city {
  display: inline-block;
  margin-right: 1rem;
}
.forsale {
  background: #3bedb7;
  color: #4f4f50;
  display: inline-block;
  padding: 10px;
  font-size: 1em;
  text-decoration: none;
}

nav {
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.hamburger {
  background: transparent;
  border: 0;
  display: inline-block;
  width: 44px;
  height: 44px;
  outline: none;
  font-size: 24px;
  padding: 0;
  text-align: left;
}

.menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu.open {
  display: block;
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  z-index: 100000;
  background: white;
  padding: 20px;
}
.menu li {
  display: block;
}

.menu li a {
  border-bottom: 2px solid rgba(0,0,0,0);
  color: #4f4f50;
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px 10px 0;
}
.menu li a:hover {
  border-bottom: 2px solid #3bedb7;
  color: #000;
}

.mediaLinks {
  color: #4f4f50;
  display: flex;
  align-items: center;
  
  font-size: 0.8rem;
}


.mediaLinks a,
.sold .mediaLinks img {
  text-decoration: none;
  margin-left: 10px;
}

.mediaLinks img {
  display: block;
  width: auto;
  height: 25px;
}

main {
  width: 100%;
  position: relative;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper.fullheight {
  height: 100%;
}

.wrapper.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .wrapper {
  border-top: 1px solid #ededed;
}

footer .left {
  font-size: 0.7em;
  width: 100%;
  margin-bottom: 20px;
}

footer .right {
  width: 100%;
}

footer .wrapper:after {
  content: '';
  display: block;
  clear: both;
}

.carousel {
  width: 100%;
  height: 80vh;
  overflow: auto;
}

.imagecontainer {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}
.imagecontainer img {
  height: 100%;
  width: auto;
}

.columns-2 {
  display: block;
  padding-bottom: 20px;
}

.iconlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.iconlist li {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 4px 0;
}

.iconlist img {
  margin-right: 20px;
}

.fullimage img {
  width: 100%;
  height: auto;
}

.factsheet {
  margin: 0;
}

.object-facts {
  margin: 0;
  font-size: 0.8rem;
}

.object-facts:after {
  content: '';
  clear: both;
  display: block;
}

.object-facts dd {
  border-top: 1px solid #ededed;
  color: #666;
  width: 100%;
  margin: 0;
  padding: 0.5rem 0 0;
}

.object-facts dt {
  color: #000;
  width: 100%;
  margin: 0;
  padding: 0.5rem 0;
  font-size: 0.9rem;
}

.object-facts dd.object-facts-group {
  border: none;
  width: 100%;
  padding: 0;
}

.object-facts dd.object-facts-group .object-facts dd {
  padding-left: 20px;
}
.object-facts dd.object-facts-group .object-facts dt {
  padding-left: 20px;
}

.center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 40px;
}
.mt-1 {
  margin-top: 40px;
}
.pb-1 {
  padding-bottom: 40px;
}
.pt-1 {
  padding-top: 40px;
}

.openstreetmap {
  border: 0;
  width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.gallery img {
  width: 100%;
  height: auto;
}

.btn-contact {
  background: #3bedb7;
  color: #4f4f50;
  border-radius: 16px;
  padding: 10px 20px;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.btn-contact:hover {
  background: #f4f9fd;
  color: #3bedb7;
}

@media screen and (min-width: 600px) {
  html, body {
    font-size: 20px;
    line-height: 1.8;
  }

  header {
    margin-top: 60px;
  }

  .hamburger {
    display: none;
  }
  .menu {
    display: block;
    flex: 1;
  }
  .menu li {
    display: inline-block;
  }
  .menu.open {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    background: transparent;
    padding: 0;
  }

  .columns-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    padding: 0;
  }

  .object-facts dd {
    border-top: 1px solid #ededed;
    float: left;
    clear: left;
    width: 35%;
    margin: 0;
    padding: 0.5rem 0;
  }

  .object-facts dt {
    border-top: 1px solid #ededed;
    float: left;
    width: 65%;
    margin: 0;
    padding: 0.5rem 0;
  }

  .object-facts dd.object-facts-group .object-facts dt {
    padding-left: 0px;
  }

  .openstreetmap {
    border: 0;
    width: 100%;
    height: 400px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  footer .left {
    float: left;
    width: auto;
    margin-bottom: 0;
  }
  footer .right {
    float: right;
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .headerContainerTitle {
    font-size: 2vw;
  }

  .factsheet {
    margin: 0 auto;
    width: 70%;
  }

  .openstreetmap {
    border: 0;
    width: 100%;
    height: 600px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}